<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div *ngFor="let i of productData.products" class=" col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="{{i.thumbnail}}" class="card-img-top" alt="...">
                        <div class="card-body text-center">  
                          <h5 class="card-title">{{i.id}}</h5>
                          <p class="card-text">{{i.title}}</p>
                          <p class="card-text">{{i.price}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>           
    </div>
</div>





